<nav>
    <h1 id="home"><a href="/">{{site.url}}</a></h1>
    <h1 id="burger">
        <input type="checkbox" id="nav-dropdown" value="" name="nav-checkbox">
        <label for="nav-dropdown" data-toggle="dropdown"><i class="fa-solid fa-ellipsis"></i></label>
    </h1>
    <h1 id="links">
        <ul>
            {% for item in site.header_links %}
            <li><a href="{{item | slice: 1}}">{{item | slice: 0}}</a></li>
            {% endfor %}
        </ul>
    </h1>
    <a style="display: none" rel="me" href="https://mastodon.social/@kanennn"
        >Mastodon</a
    >
</nav>
<section id="burger-links">
   <h1>
        <ul>
            {% for item in site.header_links %}
            <li><a href="{{item | slice: 1}}">{{item | slice: 0}}</a></li>
            {% endfor %}
        </ul>
    </h1>
</section>
